<div class="mat-dialog-container custom-modal">
    <mat-dialog-content>
        <!-- Modal Header -->
        <div class="mat-dialog-title">
            <button mat-icon-button (click)="closeModal()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <!-- Modal Body -->
        <div class="mat-dialog-content">
            <!-- Your modal content goes here -->
            <h3>Employee</h3>
            <h5>Employee name</h5>

            <!-- Display employee.name when not in edit mode -->
            <ng-container *ngIf="!editMode; else editField">
                {{employee.name}}
                <button mat-icon-button (click)="toggleEditMode()"><mat-icon>edit</mat-icon></button>
            </ng-container>

            <!-- Input field to edit employee.name when in edit mode -->
            <ng-template #editField>
                <input [(ngModel)]="editedName" type="text" name="name">
                <button mat-icon-button (click)="saveChanges()"><mat-icon>done</mat-icon></button>
                <button mat-icon-button (click)="cancelEdit()"><mat-icon>close</mat-icon></button>
            </ng-template>
        </div>

        <!-- Modal Footer (optional) -->
        <mat-dialog-actions class="mat-dialog-actions">
            <!-- Empty div to push buttons to the right -->
            <button (click)="saveChanges()" mat-button color="primary">Save</button>
            <button (click)="closeModal()" mat-button color="warn">Cancel</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>