<div class="mat-dialog-container custom-modal">
    <mat-dialog-content>
        <!-- Modal Header -->
        <div class="mat-dialog-title">
            <button mat-icon-button (click)="closeModal()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <h3>Employee</h3>
        <div class="mat-dialog-content d-flex">
            <div class="w-50">
                <div>Employee name</div>

                <ng-container *ngIf="!editMode; else editField">
                    {{employee.name}}
                    <button mat-icon-button (click)="toggleEditMode('nameInput')"><mat-icon>edit</mat-icon></button>
                </ng-container>

                <ng-template #editField>
                    <input [(ngModel)]="editedName" type="text" name="name">
                </ng-template>
            </div>
            <div class="w-50">
                <div>Employee hourly rate</div>

                <ng-container *ngIf="!editModeHourlyRate; else editFieldHourRate">
                    {{employee.hourlyRate}}
                    <button mat-icon-button (click)="toggleEditMode('hourlyRateInput')"><mat-icon>edit</mat-icon></button>
                </ng-container>
             
                <ng-template #editFieldHourRate>
                    <input [(ngModel)]="editedHourlyRate" type="text" name="name">
                </ng-template>
            </div>
        </div>
        
         <div class="w-50 mt-5">
            <div>Employee overtime hourly rate</div>

            <ng-container *ngIf="!editModeOvertimeHourlyRate; else editFieldOverTimeHourRate">
                {{employee.hourlyRateOvertime}}
                <button mat-icon-button (click)="toggleEditMode('overTimeHourRateInput')"><mat-icon>edit</mat-icon></button>
            </ng-container>

            <ng-template #editFieldOverTimeHourRate>
                <input [(ngModel)]="overtimeHourlyRate" type="text" name="name">
            </ng-template>
        </div>

        <!-- Modal Footer (optional) -->
        <mat-dialog-actions class="mat-dialog-actions">
            <!-- Empty div to push buttons to the right -->
            <button (click)="saveModalChanges()" mat-button color="primary">Save</button>
            <button (click)="closeModal()" mat-button color="warn">Cancel</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>