<div class="total-employees">
    <h3>Total Employees: {{ (employees$ | async)?.length || 0 }}</h3>
    <h3>Total Clocked in time: {{ shifts$ | async | calculateTotalClockedIn | number }} hours</h3>
</div>
<table mat-table [dataSource]="(employees$ | async) || []" class="mat-elevation-z8 demo-table">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [(ngModel)]="isMainCheckboxChecked" (change)="updateSelectionStatus()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.selected"></mat-checkbox>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <!-- Clocked In Time Column -->
    <ng-container matColumnDef="clockedIn">
        <th mat-header-cell *matHeaderCellDef>Total Clocked In Time</th>
        <td mat-cell *matCellDef="let row">
            {{ row.clockedIn | async | number }} hrs
        </td>
    </ng-container>
    <!-- Regular Hours Paid Column -->
    <ng-container matColumnDef="regularHoursPaid">
        <th mat-header-cell *matHeaderCellDef>Total Regular Hours Paid</th>
        <td mat-cell *matCellDef="let employee">
            {{ employee.regularHoursPaid | currency:'USD':'symbol'}}
        </td>
    </ng-container>

    <!-- Overtime Amount Paid Column -->
    <ng-container matColumnDef="overtimePaid">
        <th mat-header-cell *matHeaderCellDef>Total Overtime Amount Paid</th>
        <td mat-cell *matCellDef="let row">{{ row.overtimePaid }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Edit Button Column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editRow(row)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
</table>